In [2]:
# compound labels miltiindex
# index dataframes with multiindex
import pandas as pd
import seaborn

In [3]:
flights = seaborn.load_dataset('flights')
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [4]:
flights_indexed = flights.set_index(['year', 'month'])
flights_indexed.head()
# bold typefaces mean that they comprise multi-index

               passengers
year month
1949 January          112
     February         118
     March            132
     April            129
     May              121

In [17]:
flights_indexed.loc[1951].loc["January": "June"]
# loc function will only select rows based on 
# the first levels of the multi-level index

          passengers
month
January          145
February         150
March            178
April            163
May              172
June             178

In [33]:
# unstack() transposes the second level of index into columns
flights_unstacked = flights_indexed.unstack()
flights_unstacked

      passengers                                                               \
month    January February March April  May June July August September October
year
1949         112      118   132   129  121  135  148    148       136     119
1950         115      126   141   135  125  149  170    170       158     133
1951         145      150   178   163  172  178  199    199       184     162
1952         171      180   193   181  183  218  230    242       209     191
1953         196      196   236   235  229  243  264    272       237     211
1954         204      188   235   227  234  264  302    293       259     229
1955         242      233   267   269  270  315  364    347       312     274
1956         284      277   317   313  318  374  413    405       355     306
1957         315      301   356   348  355  422  465    467       404     347
1958         340      318   362   348  363  435  491    505       404     359
1959         360      342   406   396  420  472  548    559       463     407
1960         417      391   419   461  472  535  622    606       508     461


month November December
year
1949       104      118
1950       114      140
1951       146      166
1952       172      194
1953       180      201
1954       203      229
1955       237      278
1956       271      306
1957       305      336
1958       310      337
1959       362      405
1960       390      432

In [34]:
# perform SUM along the rows
flights_unstacked.sum(axis=1)

year
1949    1520
1950    1676
1951    2042
1952    2364
1953    2700
1954    2867
1955    3408
1956    3939
1957    4421
1958    4572
1959    5140
1960    5714
dtype: int64

In [43]:
flights_unstacked['month']

KeyError: 'month'

In [48]:
flights_restacked = flights_unstacked.stack()
flights_restacked.tail(20)

                passengers
year month
1959 May               420
     June              472
     July              548
     August            559
     September         463
     October           407
     November          362
     December          405
1960 January           417
     February          391
     March             419
     April             461
     May               472
     June              535
     July              622
     August            606
     September         508
     October           461
     November          390
     December          432

In [89]:
flights_restacked.index

MultiIndex(levels=[[1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960], ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
           names=['year', 'month'])

In [91]:
flights_restacked[flights_restacked.index.get_level_values('1952').isin([390])]

KeyError: 'Level 1952 not found'